{{ define "main" }}

{{ partial "buttons.html" }}
<!-- Шапка -->
<div class="uk-container uk-container-large uk-margin-top">
  {{ partial "breadcrumbs.html" . }}
  <h1 class="uk-heading-divider">{{ .Params.head }}</h1>




  <!-- выводим список преподавателей -->

  <div uk-filter="target: .js-filter">
    <ul class="uk-subnav uk-subnav-pill">
      <li uk-filter-control=""><a href="#">{{ T "all" }}</a></li>
      <li uk-filter-control=".teacher"><a href="#">{{ T "teacher"}}</a></li>
      <li uk-filter-control=".driver"><a href="#">{{ T "driver"}}</a></li>
    </ul>
    <ul class="js-filter uk-child-width-1-2@s uk-child-width-1-3@m uk-responsive-height uk-grid-small"
      uk-grid="masonry: pack">
      {{ range .Pages }}
      {{ $alt := .Params.title }}
      <li class="{{ .Params.tag }}">
        <div class="uk-text-center" uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
          <div class="uk-inline-clip uk-transition-toggle uk-light">
            {{ $url := "https://directus.cynic.club/assets/" }}
            {{ $file := .Params.image }}
            {{ $url := print $url $file}}
            {{ $path := .Path }}
            {{ $path := print $path "/feature.jpg" }}
            {{ $opts := dict "headers" (dict "Authorization" site.Params.api_auth ) }}
            {{ $img := resources.GetRemote $url $opts }}
            {{ $img := $img.Content | resources.FromString $path }}

            <img src="{{ $img.RelPermalink }}" alt="{{ $alt }}">
            <div class="uk-overlay-primary uk-transition-fade uk-position-cover"></div>
            <div class="uk-position-center">

              <div class="uk-transition-slide-top-small">

                  <h4 class="uk-margin-remove">{{ .Params.title }}  <span class="uk-badge remark42__counter" data-url="https://avtomoto25.cn.ua{{ .RelPermalink }}"></span></h4>

              </div>
              <div class="uk-margin-top uk-transition-slide-bottom-small">
                <a href="{{ .RelPermalink }}" class="uk-button uk-button-primary">{{ T "comment" }}</a>
              </div>

            </div>
            
          </div>
          
        </div>

        
      </li>


      {{ end }}
      <script>
        var remark_config = {
          host: "https://remark.cynic.club",
          site_id: "avtomoto",
          components: ["counter"],
        }
      </script>
      <script>!function (e, n) { for (var o = 0; o < e.length; o++) { var r = n.createElement("script"), c = ".js", d = n.head || n.body; "noModule" in r ? (r.type = "module", c = ".mjs") : r.async = !0, r.defer = !0, r.src = remark_config.host + "/web/" + e[o] + c, d.appendChild(r) } }(remark_config.components || ["embed"], document);</script>

    </ul>

  </div>
</div>

{{ end }}