<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  {{ partial "opengraph.html" . }}

</head>

<body>
  <header>
    {{ partial "header.html" . }}
  </header>
 
  <main>
    {{ partial "menus.html" . }}
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
  <script src="https://cdn.pulse.is/livechat/loader.js" data-live-chat-id="6646f0c586f4810fff01ca40" async></script>
</body>
</html>
