<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="ahrefs-site-verification" content="b1d491be762affa64812f156465575f4beeeb73c964b05eb2ff61be64c64c2e7">
<meta name="description" content="{{ .Description }}">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<!--<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cirrus-ui/dist/cirrus.min.css">-->
<!-- UIkit CSS -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/css/uikit.min.css" /> -->

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.21.5/dist/js/uikit-icons.min.js"></script>
<!--{{ partialCached "head/css.html" . }}-->
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="shortcut icon" type="image/png" href="/images/favicon.png">
<script defer data-domain="avtomoto25.cn.ua" src="https://plausible.cynic.club/js/script.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DZNHC9P1RS"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DZNHC9P1RS');
</script>


{{ partialCached "head/js.html" . }}