{{ define "main" }}

{{ partial "buttons.html" . }}
<!-- Шапка -->
<div class="uk-container uk-container-large uk-margin-top">
  {{ partial "breadcrumbs.html" . }}
  <h1 class="uk-heading-divider">{{ .Title }}</h1>
  
  {{ $driver := .Params.tag }}
  {{ if eq $driver "driver" }}
  <h3 class = "uk-margin-remove-top uk-text-meta">{{ T "driver" }}</h3>
  {{else}}
  <h3 class = "uk-margin-remove-top uk-text-meta">{{ T "teacher" }}</h3>

  {{ end }}

  {{ .Params.description }}

  <div class="uk-text-left uk-margin-top" uk-grid>

    <div class="uk-width-1-3@m">
      <div>
        <img src="{{ .Params.image }}" alt="{{ .Title }}">

      </div>
    </div>
    <div class="uk-width-expand@m">
      <div class="">
        <h4 class="uk-heading-bullet uk-text-muted">{{ T "comment"}}</h4>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>
          <div id="remark42"></div>

          <script>
            var remark_config = {
              host: "https://remark.cynic.club",
              site_id: 'avtomoto',
              components: ['embed'],
              locale: 'ua',
              no_footer: true
            };
          </script>
          <script>!function (e, n) { for (var o = 0; o < e.length; o++) { var r = n.createElement("script"), c = ".js", d = n.head || n.body; "noModule" in r ? (r.type = "module", c = ".mjs") : r.async = !0, r.defer = !0, r.src = remark_config.host + "/web/" + e[o] + c, d.appendChild(r) } }(remark_config.components || ["embed"], document);</script>


        </div>
      </div>
    </div>
  </div>



  {{ .Content }}


</div>

</div>

{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}